body {
  background-color: rgba(0, 0, 0);
}

.images {
  width: 20%;
  padding: 1%;
  padding-left: 40%;
  border: 10px solid rgb(255, 31, 64);
  border-radius: 2px;
}

h1,
h2 {
  font-family: "Shrikhand", serif;
  color: rgb(255, 31, 64);
}

/* HEADER INFO */
h1 {
  font-size: 3rem;
  color: rgb(255, 31, 64);
  margin-bottom: 1px;
}

.subheader {
  font-size: 250%;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

/* MAIN FIRST PAGE + LINK */

.image-text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 31, 64);
  border-radius: 4px;
  width: 40%;
  padding: 1%;
  margin-left: 30%;
  margin-top: 1%;
}

.mainheader {
  text-align: center;
}

.center {
  text-align: center;
}

/* LINK COLORS */

a {
  color: rgb(255, 31, 64);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* CONTACT FORM */
.contact-header {
  text-align: center;
  font-family: "Shrikhand", serif;
  color: rgb(255, 31, 64);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.question {
  text-align: center;
  font-family: "Shrikhand", serif;
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 1%;
}

.h5-header {
  text-align: center;
  font-family: "Shrikhand", serif;
  color: rgb(255, 31, 64);
  margin-top: 10px;
  margin-bottom: 1%;
  font-size: 25px;
}

.contact-form {
  background: #ffffff;
  width: 40%;
  margin: auto;
  display: flex;
}

input {
  width: 200px;
  height: 30px;
  font-family: "Shrikhand", serif;
  font-size: 15px;
  outline: 0;
  padding-left: 5px;
  border-color: rgb(255, 31, 64);
  border-width: 2px;
  border-radius: 20px;
  margin-left: 43%;
}
.enter-message {
  width: 200px;
  height: 70px;
  font-family: "Shrikhand", serif;
  font-size: 15px;
  outline: 0;
  border-color: rgb(255, 31, 64);
}

input {
  color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

.enter-message::placeholder {
  transform: translateY(-20px);
}

button {
  background-color: rgb(255, 31, 64);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: "Shrikhand", serif;
  display: flex;
  margin: auto;
  margin-top: 2%;
  padding: 10px 15px;
  text-align: center;
}
/* THIS CODING WAS ADAPTED THROUGH THIS YOUTUBE VIDEO https://www.youtube.com/watch?v=gWgzzVVcqfA&t=447s. Accessed: 2023-11-04. Lines 156-168.*/

button:hover {
  opacity: 90%;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

/* PROJECT */

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 15%;
}
