/* index page */
body {
  background-color: rgba(0, 0, 0);
}

.images {
  width: 25%;
  border: 10px solid rgb(175, 0, 0);
  border-radius: 50%;
  padding: 10px;
  float: right;
  margin-right: 5%;
  margin-left: 20px;
}

h1,
h2 {
  font-family: "Shrikhand", serif;
  color: rgb(175, 0, 0);
}

/* HEADER INFO index */
h1 {
  font-size: 3rem;
  color: rgb(175, 0, 0);
  margin-bottom: 1px;
}
.mainheader {
  font-size: 48px;
  text-align: center;
  animation: myanimation infinite;
  animation: colorchanging 30s;
}

.subheader {
  text-align: center;
  font-size: 250%;
  margin: auto;
  padding: 0px 20px 0px 20px;
  /* margin-left: 20%;
  margin-top: 2%; */
}

.about-me {
  font-size: 50px;
  margin: auto;
  padding: 0px 20px 0px 20px;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: auto;
  text-align: center;
  color: #ffffff;
}

/* MEDIA QUERY */

@media only screen and (max-width: 800px) {
  .images {
    display: none;
  }
  .subheader {
    margin: auto;
    text-align: center;
    font-size: 150%;
  }
  .about-me {
    margin: auto;
    text-align: center;
    font-size: 150%;
  }
  img {
    display: none;
  }
  .image-text {
    min-width: 90%;
    font-size: 12px;
  }
}

/* MAIN FIRST PAGE + LINK */

.image-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  width: 40%;
  padding: 0px 20px 0px 20px;
  /* margin-left: 20%; */
  margin-top: 2%;
  margin-bottom: auto;
  margin: auto;
}

.links {
  text-align: center;
  font-weight: bold;
}

/* LINK COLORS */

a {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* LINK TOP HOVERING */
a:hover {
  color: #841212;
}

a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* CONTACT FORM */
.contact-header {
  text-align: center;
  font-family: "Shrikhand", serif;
  color: rgb(175, 0, 0);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.question {
  text-align: center;
  font-family: "Shrikhand", serif;
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 1%;
}

.h5-header {
  text-align: center;
  font-family: "Shrikhand", serif;
  color: rgb(175, 0, 0);
  margin-top: 10px;
  margin-bottom: 1%;
  font-size: 25px;
}

/* CONTACT FORM */

.contact-form {
  background: #ffffff;
  width: 40%;
  margin: auto;
  display: flex;
}

input,
textarea {
  width: 200px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  outline: 0;
  padding-left: 5px;
  border-color: rgb(175, 0, 0);
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  color: rgb(0, 0, 0);
  resize: none;
  font-weight: bolder;
}

textarea {
  height: 70px;
  padding-top: 10px;
}
.enter-message {
  width: 200px;
  font-family: "Shrikhand", serif;
  font-size: 15px;
  outline: 0;
  border-color: rgb(255, 31, 64);
}

::placeholder {
  color: rgb(0, 0, 0);
}

button {
  background-color: rgb(275, 0, 0);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-family: "Shrikhand", serif;
  display: flex;
  margin: auto;
  margin-top: 0.5%;
  padding: 10px 15px;
  text-align: center;
}
/* THIS CODING WAS ADAPTED THROUGH THIS YOUTUBE VIDEO https://www.youtube.com/watch?v=gWgzzVVcqfA&t=447s. Accessed: 2023-11-04. Lines 172-186.*/

button:hover {
  opacity: 90%;
  cursor: pointer;
  color: rgb(250, 250, 250);
}

/* PROJECT page */

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 10%;
  margin: auto;
  border-radius: 2px;
}

.one-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 10%;
  margin: auto;
  border-radius: 2px;
  border: 5px solid rgb(255, 255, 255);
  padding: 5px;
}

.one-image:hover {
  opacity: 80%;
  cursor: pointer;
  border: 5px solid rgb(175, 0, 0);
}

/* SPECIFIC PROJECT, ONE */

.dior {
  display: flex;
  width: 25%;
  gap: 10%;
  margin: auto;
  border-radius: 2px;
  border: 5px solid rgb(255, 255, 255);
  padding: 5px;
}

.dior-text {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.dior-subheader {
  color: rgb(175, 0, 0);
  width: 50%;
  font-size: 30pt;
  text-align: center;
  margin: auto;
  padding-top: 1%;
  margin-top: -1%;
  margin-bottom: -1%;
}

/* MEDIA QUERY SPECIFIC PROJECT */
@media only screen and (max-width: 800px) {
  .dior-text {
    min-width: 45%;
    font-size: 13px;
  }
  body {
    height: fit-content;
  }

  .dior {
    width: 40%;
  }
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .image-container {
    grid-template-columns: 1fr;
    gap: 2%;
  }
  footer {
    display: none;
  }
}

@keyframes myanimation {
  from {
    font-size: 50px;
  }
  to {
    font-size: 150px;
  }
}

@keyframes colorchanging {
  from {
    color: rgb(255, 0, 0);
  }
  100% {
    color: #1500fb;
  }
  50% {
    color: rgb(255, 187, 0);
  }
  to {
    color: rgb(4, 255, 0);
  }
}
/* FOOTER */
footer {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-top: #fff solid 2px;
  margin-top: 20%;
  text-align: center;
  color: #fff;
}
